# Ignorer les dossier node_modules créés par npm ou yarn
node_modules/

# Ignorer Angular build output
/dist/

# Ignorer NestJS build output
/dist/

# Ignorer tous fichiers générés par les IDE
.idea/
.vscode/

# Ignorer les fichiers d'environnements
.env
.env.*

# Ignorer logs
logs/
*.log

# Ignorer le dossier data de PostgreSQL
/data/

# Ignorer tous fichiers sensibles ou de configuration d'environnement
/config/*.env

# Ignorer fichiers temporaires
*.tmp
*.temp
