<mat-card>
  <mat-card-header>
    <mat-card-title>Bienvenue sur le moteur de recherche pour livres</mat-card-title>
    <mat-card-subtitle
      >Retrouvez vos livres rapidement et facilement ici !</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <p>
    L'outil de moteur de recherche va rechercher votre livre préféré à travers une vaste librairie. Commencez par entrer un mot clé dans la barre de recherche.
    </p>
    <!-- Placeholder for SearchBarComponent 
      <app-searchbar></app-searchbar>-->
  </mat-card-content>
</mat-card>
