@for(book of books; track book.title){
<mat-card class="book-card">
  <mat-grid-list cols="2" rowHeight="4:1">
    <mat-grid-tile
      ><mat-card-header>
        <mat-card-title>{{ book.title }}</mat-card-title>
        <mat-card-subtitle
          ><i>{{ book.author }}</i></mat-card-subtitle
        >
      </mat-card-header>
      <mat-card-content>
        <p>{{ book.description }}</p>
      </mat-card-content></mat-grid-tile
    >
    <mat-grid-tile
      ><mat-card-actions>
        <button mat-raised-button color="primary">Plus d'infos</button>
      </mat-card-actions></mat-grid-tile
    >
  </mat-grid-list>
</mat-card>
}
